<!DOCTYPE html>
<html>
  <head>
    <title>TuringAssistant</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap" rel="stylesheet">
  </head>

  <body>
    <ul>
      <li><%= link_to 'Turing Assistant', "/" %></li>
      <li class="rightFloatNavLink"><%= link_to 'Login', "/" %></li>
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Community</a>
        <div class="dropdown-content">
          <%= link_to 'Students', '/students' %>
          <%= link_to 'Alumni', '/students/alumni' %>
          <%= link_to 'Mentors', '/mentors' %>
      </li>
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Programs</a>
        <div class="dropdown-content">
          <%= link_to 'BEE', '/programs/bee' %>
          <%= link_to 'FEE', '/programs/fee' %>
      </li>
    </ul>
    <div class="mainContentWrapper">

    <div class="mainContentContainer">
      <%= yield %>
    </div>

    <div class="footer">
      <div class="colorBar">
        <div id="colorBarColor1"></div>
        <div id="colorBarColor2"></div>
        <div id="colorBarColor3"></div>
      </div>
      <p><%= link_to 'jordan', "https://github.com/iEv0lv3/", class: 'footerLink'%> | <%= link_to 'alexis', "https://github.com/adumortier", class: 'footerLink'%></p>
      <p>Made with ❤️ at Turing</p>
    </div>

    </div>
  </body>
</html>
